/*'col' Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576.98px) {
	/*header start*/
	header{
		padding: 10px 0;
	}
	.menu ul li a{
    	padding: 10px 0 0 !important;
    	font-size: 20px;
    	text-align: right;
	}
	/*header end*/

	/*slider start*/
	.slider{
		padding-bottom: 60px;
	}
	.c_ind{
		bottom: -60px;
	}
	.c_ind [data-bs-target] {
		width: 13px;
		height: 16px;
	}
	.s_text{
		margin-top: 0;
	}
	.s_text h1{
		font-size: 25px;
	}
	.s_text h2{
		margin: 10px 0;
		font-size: 18px;
	}
	.s_text p{
		margin-bottom: 20px;
	}
	.s_icon ul li{
		margin-right: 15px !important;
	}
	.s_icon ul li i{
		font-size: 35px;
	}
	/*slider end*/

	/*feature start*/
	.feature{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.c_h1{
		margin-bottom: 10px;
		font-size: 25px;
	}
	.c_p{
		font-size: 17px;
		line-height: 25px;
	}
	.f_text {
    	text-align: center;
   	}
   	.f_item{
		margin-top: 30px;
	}
	.f_icon i{
		margin-top: 0px;
		font-size: 35px;
	}
	.f_text{
		text-align: center;
	}
	.f_text h2{
		margin-bottom: 0px;
		font-size: 20px;
	}
	.f_text p{
		letter-spacing: 0px;
	}
}




/* Small devices (landscape phones, 576px and above) */
@media (min-width: 576px) and (max-width: 768.98) {
	/*header start*/
	.menu ul li a{
    	padding: 10px 0 0 !important;
    	font-size: 20px;
    	text-align: right;
	}
	/*header end*/

	/*slider start*/
	.slider{
		padding-bottom: 60px;
	}
	.c_ind{
		bottom: -55px;
	}
	.c_ind [data-bs-target] {
		width: 13px;
		height: 16px;
	}
	.s_text{
		margin-top: 0;
	}
	.s_text h1{
		font-size: 25px;
	}
	.s_text h2{
		margin: 10px 0;
		font-size: 18px;
	}
	.s_text p{
		margin-bottom: 20px;
	}
	.s_icon ul li{
		margin-right: 20px !important;
	}
	.s_icon ul li i{
		font-size: 35px;
	}
	/*slider end*/

	/*feature start*/
	.feature{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	.c_h1{
		margin-bottom: 10px;
		font-size: 25px;
	}
	.c_p{
		font-size: 17px;
		line-height: 25px;
	}
	.f_item{
		margin-top: 30px;
	}
	.f_icon i{
		margin-top: 0px;
		font-size: 35px;
	}
	.f_text{
		text-align: center;
	}
	.f_text h2{
		margin-bottom: 0px;
		font-size: 20px;
	}
	.f_text p{
		letter-spacing: 0px;
	}
}




/* Medium devices (tablets, 768px and above) */
@media (min-width: 768.98) and (max-width: 991.98){
	/*header start*/
	.menu ul li a{
    	padding: 10px 0 0 !important;
    	text-align: right;
	}
	/*feature start*/
	.feature{
		padding-top: 80px;
		padding-bottom: 100px;
	}
	.f_item{
		margin-top: 50px;
	}
}





/* Large devices (desktops, 992px and above) */
@media (min-width: 992px) and (max-width: 1199.98) {

}

/* Extra large devices (1200px and above) */
@media (min-width: 1200px) and (max-width: 1399.98) {

}

/* Extra large devices (1200px and above) */
@media (min-width: 1400px) /*and (max-width: 1599.98)*/ {

}

/* Extra large devices (1200px and above) */
/*@media (min-width: 1400px) and (max-width: 1599.98) {

}*/

/* Extra large devices (1200px and above) */
/*@media (min-width: 1500px) and (max-width: 1999.98) {

}*/

/* Extra extra large devices (large desktops,1400px and above) */
/*@media (min-width: 2000px) {

}*/

/*@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }